{% extends "base.html" %}
{% block title %}
	小農介紹
{% endblock title%}
{% block content %}
	<div class="carousel slide" id="carousel-637593">
		<div class="carousel-inner">
			<div class="item active">
				<img style = "height:370px; width:1140px; " alt="" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/s2048x2048/10505185_10201375390866855_7262282431864526535_o.jpg">
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<div>
				<img alt="140x140" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/62752_3941186348211_1524525495_n.jpg?oh=d51d30e418632c6442127d2ed4a909e8&oe=560CD6C4&__gda__=1443120362_c6436135ba15f72c9573155962921cdf" class="img-thumbnail">
			</div>
			<div style="float:left">
				<h3 class="text-left text-success">
				楊宇帆
				</h3> <button type="button" class="btn btn-default">追蹤</button>
			</div>
		</div>
		<div class="col-md-6 column">
			<span class="label label-default">追蹤人數：</span>
			<table class="table">
				<tbody>
					<tr class="age">
						<td>
							年齡
						</td>
						<td>
							28歲
						</td>
					</tr>
					<tr class="years">
						<td>
							農齡
						</td>
						<td>
							3年
						</td>
					</tr>
					<tr class="location">
						<td>
							地點
						</td>
						<td>
							台南關廟
						</td
					</tr>
					<tr class="product">
						<td>
							主要農產品
						</td>
						<td>
							鳳梨
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<h3>我的故事</h3>
	<div class="row clearfix">
		<div class="col-md-12 column farmer-introuduction-font">
			<p>
				你走了，然後我回來了。
				<br>
				<img src="http://pic.pimg.tw/why160why/1308502587-07b03b83e8478ad0302b6c072a283f5b_m.jpg">
				<br>
				騎著車迎著風，拐進那條有點模糊回憶裡的鄉間小路，車水馬龍的景致漸漸被鳳梨田、綠竹林和三合院取代，那是一個叫做許厝湖的小鄉村，位於台南關廟與龍崎的交界，顧名思義這兒有個小湖以及住了不少許家人，不過近年來我想大多數人都漸漸搬移到都市了。忘了經過多少個左轉與右轉，柏油路逐漸變成了水泥產業道路，路的盡頭是一條小溪及一片有點與外界隔絕的農地，高聳的刺竹交織著入口，宛如門神般守護著。
				<br>
				<img src="http://pic.pimg.tw/why160why/1308711560-918774fa402865b0fc9bbd1295643411_n.jpg">
				<br>
				好久，沒有踏進這片土地，也不曾想過會再踏進這片土地，風吹的頂天刺竹作響，溪水仍像記憶中清澈流動著甚至多了我以前不知道的魚跟螃蟹，紅黃藍三種顏色的蜻蜓點綴在溪邊，遠方的老鷹是早晨的例行公事，白頭翁、夜鷺、烏秋、畫眉、五色鳥......等都是老朋友了，運氣好一點還會有野兔賊頭賊腦在草叢裡鬼祟，竹雞與松鼠這兩隻大聲公三不五時就隔空喊話，這兒依舊美麗，更美麗。
				<br>
				<img src="http://pic.pimg.tw/why160why/1308503078-27b30574a373b615467aaed25995390e_m.jpg">
				<br>
				小時候不怎麼喜歡到田裡，天氣很熱鳳梨很刺阿公很兇，還有一個永遠都只會叫我吃鳳梨的阿罵。然而，隨著年紀漸長身高不長，走的愈遠看得愈廣後，再回頭看看自己的土地，她孕育了阿公阿罵還有四個子女，甚至她還蓋了兩間透天厝，阿公阿罵在這邊土地上不知揮灑了多少汗水，淋了多少雨水，然後掙了那一點微薄的薪水，含辛茹苦把小孩養大然後把他們趕去都市，不要回到自己的田園，why?    政府對農業不重視、看天吃飯不穩定、中盤商撥削、勞力工作讓身體外面壞掉然後化肥與農藥讓身體裡面壞掉，能去工廠找份穩定工作的話，沒有人會讓自己的子女回來作農。
				<br>
				所以我要回來作農。
				<br>
				剛把這訊息丟出去時，很多人不相信或是一笑置之，其中最大的反對者就屬我那七十六歲每天都想當“阿揍”的阿罵，她都跟我說“甲頭路”最實在，這個年代沒有人要嫁給種田的這樣她抱不到曾孫，我正在破滅阿罵的夢想，哈哈！那我幹嘛作農刺激阿罵？說真的，我也不是那麼清楚，也許就是人家說得幹傻事要趁年輕吧！自己的個性不喜歡進公司受到太多拘束，喜歡爬山熱愛大自然，家裡有剛好有塊地，最後其實是有點不捨阿公的心血就這樣斷掉。阿然後有機正夯，應該也許可能說不定還能賺一點點的錢，娶個水某快點讓阿罵升級成4.0。
				<br>
				<img src="http://pic.pimg.tw/why160why/1308503262-32648ed695bd01b0add2379ca154cde6_m.jpg">
				<br>
				以前家裡總有一小塊的鳳梨田長得特別慢特別小，有時候還比較醜因為松鼠很愛偷吃，那樣子的鳳梨都是親朋好友限定版，我從小吃著那樣的鳳梨長大，更準確點來說，是被阿罵逼迫吃著那樣的鳳梨長大，她都說松鼠吃過的最好吃，因為松鼠只挑好吃的，對我來說，鳳梨是史上最無聊最不討喜的水果。後來到了外地念書，終於擺脫阿罵的魔掌，鳳梨消失在生活中好一陣子，那段時間我過的好開心考試都一百分。很久之後，某次去了朋友家，媽媽切了一盤鳳梨招待，我也只能入境隨俗的吃個幾塊，但媽媽卻跟我說『慢慢吃，鳳梨很利，不要吸，會割嘴。』這幾句話讓我一頭霧水哩公蝦毀，何謂『鳳梨很利，不要吸，會割嘴』，從小吃到大阿罵從來沒有跟我說過類似的話，我也不管朋友媽媽說那是啥意思，根據之前的經驗大吃鳳梨，湯汁流下來時立馬吸進嘴裡，不久之後嘴巴竟然破皮了，這棵鳳梨衝擊到我當年十分幼小的心靈，花聲甚麼素，這簡直是兇器，跟家裡的不一樣，這不是阿公的鳳梨！！年紀輕輕的我鄉愁立刻大起阿！
				<br>
				“鳳梨很利不要吸會割嘴”事件讓我對阿公另眼相看，原來阿公就是可以種出“可以吸”鳳梨才會得到那些獎牌跟匾額。直到最近才發現我大錯特錯了好多年，“可以吸”鳳梨就是以前那些親朋好友限定版。農業社會裡，很多農民總會有一小塊農地，不使用農藥跟化學肥料，農暇之餘去撿牛屎豬屎雞屎甚至自己拉陀屎用這些最天然的肥料去滋潤作物，收成後這些真正的好東西再分享給左鄰右舍，今天送對方鳳梨，改天對方收成的作物就會跑到家裡，現在回想起小時候的東西好像總是特別有滋味，或許就是這原因吧。農民們都知道天然的尚好，但無奈市場價格稱斤論兩，大部份人水果重量不重質，只看大不大，甜不甜，於是偉大的化學家便發明了許多化學藥品讓水果又大又甜，失去了水果本身的風味。
				<br>
				對我來說，所謂的有機，不過就是快要消失在記憶裡阿公的古早味。我想把這樣的好東西分享出去。
				<br>
				而取名為鳳巢，因為那片土地是許多鳥類的家，也是鳳梨的家，更是我的家。
				<br>
				阿公我回來了，雖然你不在了，但你在上面有看見嗎。我很想你，你好嗎？
			</p>
		</div>
		<h3>
		產品時報
		</h3>
		<div class="row clearfix">
			<div class="col-md-6 column">
				<div class="jumbotron">
					<img scr="https://scontent-sjc.xx.fbcdn.net/hphotos-xtp1/t31.0-8/11212165_10203097846567171_2585941613158034991_o.jpg">
					<h4>
					【兔崽子】 2015.5.14
					</h4>
					<p>
						老是可以在鳳梨田間看到野兔像是小小巧克力的便便，卻總是見不著她那神秘的身影，夢裡尋她千百度，暮然回首，依舊不知她的去處。  <br>今天早上很幸運讓我目擊活生生但是沒有血淋淋的野生野兔，好像小偷很鬼祟的啃著嫩草，大概是冬天割完草後，春雨下完，野草總算冒出頭透透氣，兔崽子趕快把握機會大快朵頤。  <br>旁邊的草叢還有一些騷動，不知道是不是小兔崽子跟著大兔崽子出來學習謀生能力，一個親子出遊戶外教學的概念。  <br>回家後，很興奮跟阿嬤說早上看到兔子  <br>阿嬤也很興奮的說：『三杯啊！！』  <br>阿咪頭猴。
					</p>
				</div>
				<div class="jumbotron">
					<img scr="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/61387_3243569588228_1878398002_n.jpg?oh=af5c9a688a4877efea6fcfe40888d85a&oe=55D24030&__gda__=1440028540_1a32365b90481df2b1618d142bb14d4f">
					<p>
						什麼七夕情人節與我無關，那玩意能吃嗎？我只知道轟胎快要來了，據說這轟胎又強又猛又龜毛，我得趕緊挖挖挖挖挖水溝，鳳梨田在溪邊，地勢又處於相對較低的地方，四周的水都會往我這宣洩，好處是我不怕缺水，但大雨來的時候我可就“挫勒蛋”，儘管阿公以前把排水系統做的很不錯，但現在氣候變化愈來愈激烈，還是得做好該做的防護措施，能挖多少算多少，盡人事聽天命，接下來的舊交給老天爺吧。阿彌陀佛耶穌基督阿門阿拉觀世音，請保佑我的鳳梨田不要淹水吧，各位天秤的好朋友，麻煩你們跟轟胎溝通一下，來臺灣玩可以，但可別太激烈阿，不過台東海邊那座有噁心的沒力灣，您倒是可以去參觀一下，順便用強風豪雨加上大海灌爆它。
					</p>
				</div>
			</div>
			<div class="col-md-6 column">
				<div class="jumbotron">
					<img scr="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/423978_2452788139186_1058727957_n.jpg?oh=a27fbfa78425a682c9cb7dbe03fb551a&oe=55D27BD8&__gda__=1440042513_74dbad7af1d0e14fd7ea52a8c9b2a498">
					<p>
						這是鳳梨花，漂亮齁，開完花之後就會長出鳳梨果實。今天帶著有點複雜的心情巡視田裡，一顆一顆清點我的鳳梨們。這陣子氣候異常溫差太大，鳳梨都提早開花了，我預估將近有10% 。正常來說應該是要到中秋過後才會開花，但日夜溫差太大會讓鳳梨產生錯覺提早開花，提早開花結的果實很小顆，因為母體也還沒長強壯，出來的鳳梨大概就壘球大小吧。傳統上會挖掉之後再催花，我阿公都說要把這些偷開的花閹掉，之後出來的果實不會太大但如果化學肥料用猛一點，鳳梨應該也不會太小顆還能賣，有機種植的話，雖然我還不是專業，但推斷用傳統的方法去處理，最後原本壘球大的鳳梨會變成棒球。 開始感受到看天吃飯的影響力了，今年溫差太大很多鳳梨農開始唉唉叫了.....
					</p>
					<img scr="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/574927_2768238345244_998011043_n.jpg?oh=22f4a8a397fa532c9009f20fa0127c49&oe=55D21D83&__gda__=1439900491_335876405aefa8843f0808b12fe13e01">
					<p>
						鳳梨給你吃我是不介意啦，只是.....你上去那邊幹嘛，而且妳怎麼上去的，現在又要怎麼下去，騎鳳梨難下了吧，哇哈哈哈！！天氣太熱，我看連蝸牛都熱昏頭了......
						<br>
						<img scr="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/377883_3197743522605_2050511644_n.jpg?oh=b8aeef1f5ca24680d82c05ffd5bef84b&oe=55CBABE3&__gda__=1439696170_c0b43bff41b3a5aa6d927fbc54d1ec6b">
						<br>
						肩起鋤頭，踩踏鳳梨田，試著東挖西補讓大水能夠順暢點，後來發現根本徒勞無功，不是我排水沒做好，而是這大雨根本太豪，打字的同時，外頭閃電雨水依舊，很怕鳳梨泡水太久根系潰爛，甚至還會互相傳染.....
					</p>
				</div>
				<div class="jumbotron">
					<img scr="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/488300_3120806559229_1149208971_n.jpg?oh=e6bff0b2493d9a0ae8c0c944db1b8bd5&oe=560D4DBB&__gda__=1442775410_1dc5c6adec077392d03b3c194cf6efd7">
					<h4>
					【蝦咪焦啊】
					</h4>
					<p>
						三天沒去鳳梨田，老天爺就送了我一個小禮物。  <br>禮拜一早晨發現一窩令人驚喜的鳥蛋，似乎替這個禮拜帶來好預兆，充滿生命力的開始。  <br>希望大家都充滿活力與幹勁！
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}