{% extends "base.html" %}
{% block title %}
	小農介紹
{% endblock title%}
{% block content %}
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
			一顆壞掉的蘋果
			</h3>
			<ul class="nav nav-tabs">
				<li>
					<a href="#">農夫的首頁</a>
				</li>
				<li class="active">
					<a href="#">農夫簡介</a>
				</li>
				<li>
					<a href="#">與農夫開講</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-1 column">
		</div>
		<div class="col-md-10 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
					<img alt="140x140" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/62752_3941186348211_1524525495_n.jpg?oh=d51d30e418632c6442127d2ed4a909e8&oe=560CD6C4&__gda__=1443120362_c6436135ba15f72c9573155962921cdf" width="200px" height="200px" style="float:left;">
					<div style="float:left;">
						<h3>
						楊宇帆
						</h3>
						<h4>
						所在地：台南關廟
						</h4>
						<h4>
						追蹤人數：130人
						</h4>
					</div>
				</div>
				<div class="col-md-4 column">
					<img alt="140x140" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/s2048x2048/10505185_10201375390866855_7262282431864526535_o.jpg" width="300px" height="100px"> <button type="button" class="btn btn-default">＋追蹤</button>
				</div>
			</div>
			<ul class="nav nav-tabs">
				<li>
					<a href="#">我的基本資料</a>
				</li>
				<li class="active">
					<a href="#">我的故事</a>
				</li>
			</ul>
			<div class="row clearfix">
				<div class="col-md-8 column">
					<p>
						你走了，然後我回來了。
						<br>
						<img src="http://pic.pimg.tw/why160why/1308502587-07b03b83e8478ad0302b6c072a283f5b_m.jpg">
						騎著車迎著風，拐進那條有點模糊回憶裡的鄉間小路，車水馬龍的景致漸漸被鳳梨田、綠竹林和三合院取代，那是一個叫做許厝湖的小鄉村，位於台南關廟與龍崎的交界，顧名思義這兒有個小湖以及住了不少許家人，不過近年來我想大多數人都漸漸搬移到都市了。忘了經過多少個左轉與右轉，柏油路逐漸變成了水泥產業道路，路的盡頭是一條小溪及一片有點與外界隔絕的農地，高聳的刺竹交織著入口，宛如門神般守護著。
						<br>
						<img src="http://pic.pimg.tw/why160why/1308711560-918774fa402865b0fc9bbd1295643411_n.jpg">
						好久，沒有踏進這片土地，也不曾想過會再踏進這片土地，風吹的頂天刺竹作響，溪水仍像記憶中清澈流動著甚至多了我以前不知道的魚跟螃蟹，紅黃藍三種顏色的蜻蜓點綴在溪邊，遠方的老鷹是早晨的例行公事，白頭翁、夜鷺、烏秋、畫眉、五色鳥......等都是老朋友了，運氣好一點還會有野兔賊頭賊腦在草叢裡鬼祟，竹雞與松鼠這兩隻大聲公三不五時就隔空喊話，這兒依舊美麗，更美麗。
						<br>
						<img src="http://pic.pimg.tw/why160why/1308503078-27b30574a373b615467aaed25995390e_m.jpg">
						小時候不怎麼喜歡到田裡，天氣很熱鳳梨很刺阿公很兇，還有一個永遠都只會叫我吃鳳梨的阿罵。然而，隨著年紀漸長身高不長，走的愈遠看得愈廣後，再回頭看看自己的土地，她孕育了阿公阿罵還有四個子女，甚至她還蓋了兩間透天厝，阿公阿罵在這邊土地上不知揮灑了多少汗水，淋了多少雨水，然後掙了那一點微薄的薪水，含辛茹苦把小孩養大然後把他們趕去都市，不要回到自己的田園，why?    政府對農業不重視、看天吃飯不穩定、中盤商撥削、勞力工作讓身體外面壞掉然後化肥與農藥讓身體裡面壞掉，能去工廠找份穩定工作的話，沒有人會讓自己的子女回來作農。
						<br>
						所以我要回來作農。
						<br>
						剛把這訊息丟出去時，很多人不相信或是一笑置之，其中最大的反對者就屬我那七十六歲每天都想當“阿揍”的阿罵，她都跟我說“甲頭路”最實在，這個年代沒有人要嫁給種田的這樣她抱不到曾孫，我正在破滅阿罵的夢想，哈哈！那我幹嘛作農刺激阿罵？說真的，我也不是那麼清楚，也許就是人家說得幹傻事要趁年輕吧！自己的個性不喜歡進公司受到太多拘束，喜歡爬山熱愛大自然，家裡有剛好有塊地，最後其實是有點不捨阿公的心血就這樣斷掉。阿然後有機正夯，應該也許可能說不定還能賺一點點的錢，娶個水某快點讓阿罵升級成4.0。
						<br>
						<img src="http://pic.pimg.tw/why160why/1308503262-32648ed695bd01b0add2379ca154cde6_m.jpg">
						以前家裡總有一小塊的鳳梨田長得特別慢特別小，有時候還比較醜因為松鼠很愛偷吃，那樣子的鳳梨都是親朋好友限定版，我從小吃著那樣的鳳梨長大，更準確點來說，是被阿罵逼迫吃著那樣的鳳梨長大，她都說松鼠吃過的最好吃，因為松鼠只挑好吃的，對我來說，鳳梨是史上最無聊最不討喜的水果。後來到了外地念書，終於擺脫阿罵的魔掌，鳳梨消失在生活中好一陣子，那段時間我過的好開心考試都一百分。很久之後，某次去了朋友家，媽媽切了一盤鳳梨招待，我也只能入境隨俗的吃個幾塊，但媽媽卻跟我說『慢慢吃，鳳梨很利，不要吸，會割嘴。』這幾句話讓我一頭霧水哩公蝦毀，何謂『鳳梨很利，不要吸，會割嘴』，從小吃到大阿罵從來沒有跟我說過類似的話，我也不管朋友媽媽說那是啥意思，根據之前的經驗大吃鳳梨，湯汁流下來時立馬吸進嘴裡，不久之後嘴巴竟然破皮了，這棵鳳梨衝擊到我當年十分幼小的心靈，花聲甚麼素，這簡直是兇器，跟家裡的不一樣，這不是阿公的鳳梨！！年紀輕輕的我鄉愁立刻大起阿！
						<br>
						“鳳梨很利不要吸會割嘴”事件讓我對阿公另眼相看，原來阿公就是可以種出“可以吸”鳳梨才會得到那些獎牌跟匾額。直到最近才發現我大錯特錯了好多年，“可以吸”鳳梨就是以前那些親朋好友限定版。農業社會裡，很多農民總會有一小塊農地，不使用農藥跟化學肥料，農暇之餘去撿牛屎豬屎雞屎甚至自己拉陀屎用這些最天然的肥料去滋潤作物，收成後這些真正的好東西再分享給左鄰右舍，今天送對方鳳梨，改天對方收成的作物就會跑到家裡，現在回想起小時候的東西好像總是特別有滋味，或許就是這原因吧。農民們都知道天然的尚好，但無奈市場價格稱斤論兩，大部份人水果重量不重質，只看大不大，甜不甜，於是偉大的化學家便發明了許多化學藥品讓水果又大又甜，失去了水果本身的風味。
						<br>
						對我來說，所謂的有機，不過就是快要消失在記憶裡阿公的古早味。我想把這樣的好東西分享出去。
						<br>
						而取名為鳳巢，因為那片土地是許多鳥類的家，也是鳳梨的家，更是我的家。
						<br>
						阿公我回來了，雖然你不在了，但你在上面有看見嗎。我很想你，你好嗎？
					</p>
					
				</div>
				
				<div class="col-md-4 column">
					<h3>
					我的農產品
					</h3>
					<div class="row clearfix">
						<div class="col-md-4 column">
							<img alt="140x140" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1622743_846777848673335_8145329947907669795_n.jpg?oh=e234247892313f24c6d9d6d58a7b9f30&oe=55FEF937&__gda__=1443423614_4aa70a57fecbcb3605f8e9f9c3a89ad1" width="100px" height="100px"><img alt="140x140" src="https://scontent-sjc.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10464260_296367597199473_840902769189315610_n.jpg?oh=44998da8050d2d442b43f9981137f558&oe=560CF07B" width="100px" height="100px"><img alt="140x140" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10384035_635138916571898_2781142377787082658_n.jpg?oh=c1684598e37499606c6b6d5b50542d15&oe=55C0B974&__gda__=1439391042_2d51e5f2bd1c6a92f4c01b82f9eaa94d" width="100px" height="100px">
						</div>
						
						<div class="col-md-4 column">
							<img alt="140x140" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10156037_10152422370466772_4377165859377096980_n.jpg?oh=0a579d823bdfcb28e42e6484409c1e4b&oe=55D26A6B&__gda__=1439425806_bc7e45c1d4919e7c49be7320a0ecccee" width="100px" height="100px"><img alt="140x140" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10261987_10152433118458033_5480724489920278515_n.jpg?oh=3e9cf73e4f2a8aaa2920cae897affb73&oe=55D5753A&__gda__=1438790188_f82ef0d750a933893f4562cbc1614b12" width="100px" height="100px"><img alt="140x140" src="https://scontent-sjc.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/1939970_10202827508122314_642987651_n.jpg?oh=42b083ec0594aa624a65e73984ebb485&oe=55CC8335" width="100px" height="100px">
						</div>
						<div class="col-md-4 column">
							<img alt="140x140" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/1149026_10152282456556772_917268755_n.jpg?oh=a0c4617117f9d0729cc21f2c814361ef&oe=55CD7F7E&__gda__=1443181733_c7e899182e5afa392f95e2893888f37d" width="100px" height="100px"><img alt="140x140" src="https://scontent-sjc.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/1959925_760300350647264_988821436_n.jpg?oh=e8118ced4056e825d3231e305257c62e&oe=55BFA496" width="100px" height="100px"><img alt="140x140" src="https://scontent-sjc.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1896846_603738653033960_1669075982_n.jpg?oh=520b4372d3d5860ba71da4584f04a0d9&oe=55C852A6" width="100px" height="100px">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1 column">
	</div>
{% endblock content %}