{% extends "base.html" %}
{% block title %}
	小農介紹
{% endblock title%}
{% block content %}
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
			一顆壞掉的蘋果
			</h3>
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">農夫的首頁</a>
				</li>
				<li>
					<a href="#">農夫的簡介</a>
				</li>
				<li>
					<a href="#">與農夫開講</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-1 column">
		</div>
		<div class="col-md-10 column">
			<div class="row clearfix">
				<div class="col-md-8 column" >
					<img alt="140x140" src="/static/images/104/05/楊頭貼.jpg" width="200px" height="200px" style="float:left;">
					<div style="float:left;">
						<h3>
						楊宇帆
						</h3>
						<h4>
						所在地：台南關廟
						</h4>
						<h4>
						追蹤人數：130人
						</h4>
					</div>
				</div>
				<div class="col-md-4 column">
					<img alt="140x140" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/s2048x2048/10505185_10201375390866855_7262282431864526535_o.jpg" width="350px" height="100px"> <button type="button" class="btn btn-default">＋追蹤</button>
				</div>
			</div>
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">我的基本資料</a>
				</li>
				<li>
					<a href="#">我的故事</a>
				</li>
			</ul>
			<div class="row clearfix">
				<div class="col-md-8 column">
					<table class="table">
						<tbody>
							<tr class="success">
								<td>
									年齡
								</td>
								<td>
									28歲
								</td>
							</tr>
							<tr class="warning">
								<td>
									農齡
								</td>
								<td>
									3年
								</td>
							</tr>
							<tr class="danger">
								<td>
									主要產品
								</td>
								<td>
									鳳梨
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-4 column">
					<h3>
					我的農產品
					</h3>
					<div class="row clearfix">
						<div class="col-md-4 column">
							<img alt="140x140" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1622743_846777848673335_8145329947907669795_n.jpg?oh=e234247892313f24c6d9d6d58a7b9f30&oe=55FEF937&__gda__=1443423614_4aa70a57fecbcb3605f8e9f9c3a89ad1" width="100px" height="100px"><img alt="140x140" src="https://scontent-sjc.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10464260_296367597199473_840902769189315610_n.jpg?oh=44998da8050d2d442b43f9981137f558&oe=560CF07B" width="100px" height="100px"><img alt="140x140" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10384035_635138916571898_2781142377787082658_n.jpg?oh=c1684598e37499606c6b6d5b50542d15&oe=55C0B974&__gda__=1439391042_2d51e5f2bd1c6a92f4c01b82f9eaa94d" width="100px" height="100px">
						</div>
						
						<div class="col-md-4 column">
							<img alt="140x140" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10156037_10152422370466772_4377165859377096980_n.jpg?oh=0a579d823bdfcb28e42e6484409c1e4b&oe=55D26A6B&__gda__=1439425806_bc7e45c1d4919e7c49be7320a0ecccee" width="100px" height="100px"><img alt="140x140" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10261987_10152433118458033_5480724489920278515_n.jpg?oh=3e9cf73e4f2a8aaa2920cae897affb73&oe=55D5753A&__gda__=1438790188_f82ef0d750a933893f4562cbc1614b12" width="100px" height="100px"><img alt="140x140" src="https://scontent-sjc.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/1939970_10202827508122314_642987651_n.jpg?oh=42b083ec0594aa624a65e73984ebb485&oe=55CC8335" width="100px" height="100px">
						</div>
						<div class="col-md-4 column">
							<img alt="140x140" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/1149026_10152282456556772_917268755_n.jpg?oh=a0c4617117f9d0729cc21f2c814361ef&oe=55CD7F7E&__gda__=1443181733_c7e899182e5afa392f95e2893888f37d" width="100px" height="100px"><img alt="140x140" src="https://scontent-sjc.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/1959925_760300350647264_988821436_n.jpg?oh=e8118ced4056e825d3231e305257c62e&oe=55BFA496" width="100px" height="100px"><img alt="140x140" src="https://scontent-sjc.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1896846_603738653033960_1669075982_n.jpg?oh=520b4372d3d5860ba71da4584f04a0d9&oe=55C852A6" width="100px" height="100px">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1 column">
		</div>
	</div>
{% endblock content %}