{% extends "base.html" %}
{% block title %}
	產品介紹 coFarmer
{% endblock title%}
{% block content %}
	<div class="row clearfix">
		<div class="col-md-8 column">
			<h3>
			{{ context.名稱 }}
			</h3>
			<div class="row clearfix">
				<div class="col-md-4 column">
					{% for item in context.圖片集 %}
						<img class="produce_images" alt="140x140" src="/static/images/{{item}}">
					{% endfor %}
				</div>
				<div  class="col-md-8 column">
					<img id="feture_image" alt="400x400" src="/static/images/{{ context.特色圖片}}">
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<h3>
			商品故事
			</h3>
			<ul>
				<span>{{ context.內容 }}</span>
			</ul>
			<ul>
				<li>
					售價：{% if context.單位 %} {{ context.單位 }} ，{% endif %}{{ context.金額 }}元
				</li>
				<li>
					產地：{{ context.產地}}
				</li>
				<li>
					農夫：{{ context.農夫 }}
				</li>
			</ul><a href="/farmer_introduction/{{ context.ID }}"><img class = "produce_images" alt="140x140" src="/static/images/{{ context.農夫照片 }}"> </a><button type="button" class="btn btn-default">{{ context.狀態按鈕 }}！</button>
		</div>
	</div>
	
	<div class="row">
		{% for item in produce_list %}
			<div class="col-md-4">
				<div class="thumbnail">
					{% if item.特色圖片 %}
						<img class = "home_page" alt="200x200" src="/static/images/{{item.特色圖片}}" >
					{% else %}
						<img class = "home_page" alt="200x200" src="/static/images/104/05/600px-Red_x.svg.png">
					{% endif %}
					<div class="caption">
						<h3>
						{{ item.名稱 }}
						</h3>
						<p>
							<span>{{ item.內容 }}</span>
						</p>
						<p>
							<a class="btn btn-primary" href="/product_introduction/{{ item.ID }}">我想看</a>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	
</div>
{% endblock content %}